<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was created with help of the SolidWorks to URDF Exporter plugin, created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
The PUMA+ original draw is property of the Laboratory of Robotics at the Pontifical Catholic University of Rio de Janeiro, Brazil
The adjustments for PUMA+ geometry were performed by Diego Rosa (diegoggrosa@gmail.com) 
     More information at:
http://wiki.ros.org/sw_urdf_exporter and https://www.researchgate.net/profile/Diego_Rosa4 -->

<robot
  name="puma_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.145 0.20608 0.037771"
        rpy="0 0 0" />
      <mass
        value="12.6" />
      <inertia
        ixx="0.050467"
        ixy="0"
        ixz="0"
        iyy="0.040176"
        iyz="0"
        izz="0.08244" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="w1_link">
    <inertial>
      <origin
        xyz="0.062422 0.055401 0.028047"
        rpy="0 0 0" />
      <mass
        value="1.7481" />
      <inertia
        ixx="0.01065"
        ixy="0"
        ixz="0"
        iyy="0.005552"
        iyz="0"
        izz="0.005552" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma_description/meshes/w1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.3 0.3 0.3 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma_description/meshes/w1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="w1_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="w2_link">
    <inertial>
      <origin
        xyz="0.032422 0.8246 0.038047" 
        rpy="0 0 0" />
      <mass
        value="1.7481" />
      <inertia
        ixx="0.01065"
        ixy="0"
        ixz="0"
        iyy="0.005552"
        iyz="0"
        izz="0.005552" />
    </inertial>
    <visual>
      <origin
        xyz="0 0.31 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma_description/meshes/w2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.3 0.3 0.3 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.31 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://puma_description/meshes/w2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="w2_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="w3_link">
    <inertial>
      <origin
        xyz="-0.36242 0.3646 0.028047"
        rpy="0 0 0" />
      <mass
        value="1.7481" />
      <inertia
        ixx="0.01065"
        ixy="0"
        ixz="0"
        iyy="0.005552"
        iyz="0"
        izz="0.005552" />
    </inertial>
    <visual>
      <origin
        xyz="-0.30 0.42 0"
        rpy="0 0 -3.1415" />
      <geometry>
        <mesh
          filename="package://puma_description/meshes/w3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.3 0.3 0.3 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.30 0.42 0"
        rpy="0 0 -3.1415" />
      <geometry>
        <mesh
          filename="package://puma_description/meshes/w3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel3"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="w3_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="w4_link">
    <inertial>
      <origin
        xyz="-0.36242 0.055401 0"
        rpy="0 0 0" />
      <mass
        value="1.7481" />
      <inertia
        ixx="0.01065"
        ixy="0"
        ixz="0"
        iyy="0.005552"
        iyz="0"
        izz="0.005552" />
    </inertial>
    <visual>
      <origin
        xyz="-0.30 0.11 0"
        rpy="0 0 -3.1415" />
      <geometry>
        <mesh
          filename="package://puma_description/meshes/w4_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.3 0.3 0.3 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.30 0.11 0"
        rpy="0 0 -3.1415" />
      <geometry>
        <mesh
          filename="package://puma_description/meshes/w4_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="w4_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>
